<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>C:/podstream/logs/podstream.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <level>level</level>
                <message>message</message>
                <logger>logger_name</logger>
            </fieldNames>
            <customFields>{"app":"PodStream"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>